@CHARSET "UTF-8";

.controls {
	position: absolute;
	width: 24%;
	height:100%;
}

.time {
	position: absolute;
	width: 75%;
	height: 100%;
}

.universe{
	position: absolute;
	width: 75%;
}

.legend {
	position: absolute;
	width: 99%;
	height : 40%;
}

.legendColors {
	width: 99%;
	height: 50%;
}

.legendLabel{
	width: 15%;
	height: 15%;
}

.inputSmall{
	width: 15%
}

.inputMedium {
	width: 25%
}

.inputLarge{
	width: 50%
}

.inputHuge{
	width: 80%;
}

.bin {
}

.binFailed {
	stroke: #000000;
}

.binAccepted {
	stroke: #000000;
}

.binDivider {
	stroke: #000000;
}

.binInvalid {
	stroke: #000000;
}

.timeline {
}

.indicator{
	fill: #000000;
	stroke: #000000;
}

.flags{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
	font-family: sans-serif;
	font-size: 12px;
}

.axis path,.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

div.tooltip {
	position: absolute;
	text-align: left;
	pointer-events: none;
	opacity: 0.0;
}
div.rawLines {
	position: absolute;
	width : 75%;
	height : 20%;
	display : none;
	text-align: left;
}