@CHARSET "UTF-8";

.controls {
	position: absolute;
	width: 300px;
	height: 500px;
}

.timeline {
	width: 900px;
	height: 500px;
	position: absolute;
	left: 320px;
}

.bin {
	stroke-width: 2px;
}

.binFailed {
	fill: #ff0000;
	stroke: #000000;
}

.binAccepted {
	fill: #0000ff;
	stroke: #000000;
}

.binDivider {
	fill: #000000;
	stroke: #000000;
}

.axis path,.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

div.tooltip {
	position: absolute;
	text-align: left;
	pointer-events: none;
	opacity: 0.0;
}